
body{
    margin:auto 0;
background-color: #166d3b;
background-image: linear-gradient(89deg, #166d3b 0%, #000000 74%);
}
h1{
	justify-content: center;
	text-align: center;
	color: white;
	font-family: 'Megrim', cursive; font-size:44pt; 
	  color: rgba(255,255,255,.68);

}
h2{
	justify-content: center;

	text-align: center;
	color: white;
	font-family: 'Megrim', cursive; font-size:44pt; 
	  color: rgba(255,255,255,.68);

}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
}
#particles-js {

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
img,video{
	border:2px solid #fff;
}
img:hover{
	border:2px solid #fff;
 transition: all .2s ease-in-out;
 transform: scale(1.1); 
}
.video{
	display: grid;
}
video{
	margin: 20px 20px 20px 20px;
}